# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2b4f41be0b632ac0aae1babd5fa03323326d48d5bc16ea45295a6b8c95d18dbf6abcaf8f90fd922a4a9754ee22e0e5256dc6f7b070a83da209d0618d1cf8a677

test:
  secret_key_base: 790569acfd47a77433cedc8988d0e0b89e1c442b667bc255ff7a1a4791876a22e9252e5ab077109c917226f4d1cc44ef53798d2bdb5bd7104d750705c9cd6925

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
